body {
  background-color: #fff;
}

.header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  padding: 92px 50px 88px 50px;
}

.header__menu {
  display: flex;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__link_active {
  border-bottom: 1px solid #000;
}

.header__links-list-item_no-bullit {
  list-style: none;
  pointer-events: none;
}

.header__logo {
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  padding-bottom: 4px;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.header__link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  text-decoration: none;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.address {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  text-underline-position: under;
}

.header__address {
  justify-self: end;
  align-self: center;
  grid-column-start: 5;
  grid-column-end: 6;
  max-width: 240px;
  text-decoration: none;
}

.cover {
  padding: 0 0 50px 0;
  position: relative;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 135px 50px;
  gap: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.aligned-text {
  display: flex;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
}

.aligned-text_center {
  justify-content: center;
  line-height: 100%;
}

.aligned-text_right {
  justify-content: end;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: end;
  padding-right: 50px;
  padding-left: 50px;
  z-index: 2;
}

.cover__description-text {
  display: flex;
  word-spacing: 18px;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  padding: 12px 32px;
  border: 1px solid #fff;
  margin-left: 78px;
}

.lots {
  position: relative;
  padding: 180px 50px 180px 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots__card-list-item {
  flex: 1 0 0%;
  min-height: 450px;
  min-width: 430px;
  flex-grow: 1;
}

.card-link {
  text-decoration: none;
}

.card {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-position: under;
  line-height: 26.8px;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  display: grid;
  align-items: end;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-left: 40px;
  line-height: 27px;
  border-bottom: 0.5px solid #000;
  text-decoration: none;
}

.about {
  display: flex;
  padding: 0 50px 180px 50px;
  gap: 25px;
}

.about__column {
  flex-direction: column;
}

.about__logo {
  margin: 0 95px;
  padding: 63px 46px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  min-width: 148px;
}

.about__title {
  padding-top: 100px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: grid;
  align-items: end;
  gap: 25px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.9px;
}

.footer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 50px 90px 50px;
}

.footer__address {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 240px;
}

.footer__menu {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  text-decoration: none;
}

.footer__menu-list-item {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  max-width: 48px;
  max-height: 48px;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  grid-column-start: 5;
  grid-column-end: 6;
  gap: 48px;
}

/* место для вашего кода */
