.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    font-size: 18px;
    padding: 92px 49px 51px;
    font-weight: 400;
    line-height: 24.3px;
}

.header__links-list{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__logo-image{
    display: flex;
    justify-content: center;
    width: 148px;
    height: 105px;
}

.header__address{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 240px;
    height: 97px;
}

.header__links-list-item_no-bullit{
    list-style: none;
}

.header__link_active{
    list-style: circle;
}

.cover{
    display: block;
    background-image: url(/images/cover.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
    padding: 165px 50px 50px 50px;
    z-index: 2;
}

.cover__title{
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    gap: 20px;
    line-height: 100%;
    letter-spacing: 30px;
    position: relative;
    z-index: 3;
}

.aligned-text_center{
    text-align: center;
}

.aligned-text_right{
    text-align: right;
}

.cover__description{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 147px;
    
}

.cover__description-text{
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; 
    text-transform: uppercase;
    word-spacing: 16px;
    margin-right: 6%;
    text-align: center;
    
}

.bet-button{
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    width: 257px;
    height: 52px;
    border: 1px solid #FFF;
    color: white;
    margin-left: 78px;
    
}


/* место для вашего кода */
